* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Para quitar la barra horizontal */
    background-color: var(--neutral-light);
}


#contact {
    margin-top: 10.75rem;
    display: flex;
    flex-direction: column;
    padding-left: 10.67rem;
    padding-right: 10.63rem;
   
}

form{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    border: none;
    row-gap: 2.5rem;
    padding: 0;
    width: 100%;
    
}

.email-phone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
}

.email, .phone, .name, .mensaje{
    display: flex;
    flex-direction: column;
    row-gap: 0.63rem;
}

.contact-button{
    display: flex;
    justify-content: center;
    width: 100%;
   
    
}

input, textarea, button {
    border: none; 
    outline: none; 
}

input, textarea {
    background-color: rgba(107, 112, 141, 0.1); /* 10% de opacidad */
    padding-left: 1.25rem;
}

input{
    height: 4.38rem;
    

}

textarea{
    height: 12.5rem;
    padding-top: 1.28rem;
}

.email, .phone{
    width: 50%;
}

.contact-button button{
    width: 100%;
}

::placeholder{
    font: var(--headline-regular);
}

label{
    font: var(--headline-regular);
}



@media screen and (max-width: 900px){
    #contact {
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    
    }

    
    form{
        margin-top: 3rem;
    }
    .email-phone{
        display: flex;
        flex-direction: column;
    }
    
    
    .contact-button{
        width: 100%;
    }

    
    .email, .phone{
        width: 100%;
    }
    
    .contact-button button{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    h1{
        font: var(--h2);
    }
    

}

