:root {
    --h1: 700 3.75rem/normal Roboto; 
    --h2: 700 3.125rem/normal Roboto; 
    --h3: 700 2.5rem/normal Roboto; 
    --h4: 700 1.5rem/normal Roboto; 
    --body-medium: 500 1.5rem/normal Roboto; 
    --body-regular: 400 1.25rem Roboto; 
    --headline-regular: 400 1.0625rem Roboto; 
    --headline-medium: 500 1.0625rem Roboto; 
    --caption-1: 400 0.9375rem/normal Roboto; 
    --caption-2: 400 0.8125rem/normal Roboto; 
    }
    